/*This is the main css where most of the CSS body and header will be devopled and other pages
will inheret most of this styles*/
/*Body css*/
/*html { font-size: 100%; }*/

body{
    background-color:whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
}

/*!*Making the website responsive to different resulutions*!*/
@media (max-width: 480px) {
    #banner h1{
    font-size: 18px;
    }
    #banner h2{
        font-size: 14px;
    }
}
/*Iphone 6s and up*/
@media (min-width: 481px)and (max-width: 736px) {
    #banner h1{
        font-size: 22px;
    }
    #banner h2{
        font-size: 16px;
    }
}
@media (min-width: 767px) {
    #banner h1{
        font-size: 42px;
    }
    #banner h2{
        font-size: 36px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #banner h1{
        font-size: 52px;
    }
    #banner h2{
        font-size: 46px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 400px;
        overflow: scroll;
    }


}

/*header css which include the logo and banner*/

header{
    background-color:darksalmon;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
    min-width: 20%;
    max-width: 100%;
}

header h1{
    margin:1% 2% 0% 20%  ;
    color:black;
<<<<<<< HEAD
    /*font-size:1.8em;*/
=======
    font-size:20px;
>>>>>>> ededej/hw2
    text-transform:uppercase;
    text-align: center;
    letter-spacing:0.5em;
    font-family: Klee, Times, serif;
}

header h2{
    margin-left:40%  ;
    margin-top: 0%;
<<<<<<< HEAD
    /*font-size: 1.4em;*/
=======
    font-size: 15px;
>>>>>>> ededej/hw2
    color:black;
    text-align:center;
    letter-spacing:0.1em;
    font-family: "Cambria Math", Times, serif;

}

/*search css*/
#search{
    align-content: center;
    text-align: center;
}
.featurette{
    text-align: center;
    /*width:90%;*/
    margin-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    font-size: 1.1em;
}

.featurette input[type=search] {
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    font-size: 1em;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.btn{
    color:white;
    height:70px;
}

button[type=button] {
    background-color:darksalmon  ;
    width:150px;
    height: 70px;
    border:4px;
    border-radius: 20px;
    font-size: 1em;
}


/*Sign in CSS*/
/*!*The siging it will aling in center*!*/

#signIn {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    max-width: 330px;
    padding-bottom: 2em;
    align-content: center;
    text-align: center;
    font-size: 1em;
    display: block;

}

/*!*The css for the input box for sing in *!*/
input[type=email] {
    height: 40px;
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #24cdd4;
    border-radius: 12px;
    font-size: 0.7em;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;

}
input[type=password] {
    height: 40px;
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #24cdd4;
    border-radius: 12px;
    font-size: 0.7em;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;

}

/*!*The button that submitts sing in information*!*/
.btnSubmit{
    color:white;
}
button[type=submitBtn] {
    background-color:darksalmon  ;
    width:250px;
    height: 40px;
    border:4px;
    border-radius: 20px;
    font-size: 1em;
}

/*The last part of CSS where I have the list of links*/
#underSearch{
    align-content: center;
    text-align: center;
    font-size: 1em;
}

#underSearch li{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}