
/*The space bettwen each divs*/
div{
    margin: 2em 0.3em 0em 0.3em;
}
/*The menu style*/

#menu{
    /*width:80%;*/
    margin-top: 10px;
}

button[type=buttonMenu] {
    width: 120px;
    height:50px;
    border-radius: 20px;
    margin: 6px;
}


/*The table style to show the info to the user*/
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: aliceblue;
}

th, td {
    padding: 15px;
}

/*This is the css for the box at the footer of webpage Contact US*/
.box{
    width:6em;
    height:2em;
    color:white;
    text-align: center;
    background: darksalmon;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

/*The width of the box will go to be 100% of the screen but height just goes 3em on hover*/
.box:hover{
    background-color: #24cdd4;
    width:100%;
    height: 3em;
    transform: rotate(360deg);
    z-index: 1;
}
.transform1 {
    transform:translate(3em, 50%);
}
.transform2 {
    transform: scale(2, 0.5);
}
.transform3{
    transform: rotate(0.3turn);
}

.transform4{
    transform: skew(30deg, 20deg);
}

/*This will display phone number and email on when the footer is hovered*/
footer p {
    display: none;
}

footer:hover p {
    display: inline-block;
    padding-right: 1em;
    z-index: 2;

}